<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beeTwenty1.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,602},{226,298}}</string>
                <key>offset</key>
                <string>{18,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,8},{226,298}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>beeTwenty2.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,302},{226,298}}</string>
                <key>offset</key>
                <string>{18,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,8},{226,298}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>beeTwenty3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{226,298}}</string>
                <key>offset</key>
                <string>{18,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,8},{226,298}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>beeTwenty4.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{226,298}}</string>
                <key>offset</key>
                <string>{18,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,8},{226,298}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>beeTwenty5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{226,298}}</string>
                <key>offset</key>
                <string>{18,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,8},{226,298}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>beeTwenty6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,298}}</string>
                <key>offset</key>
                <string>{18,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,8},{226,298}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>beeTwo.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a1e5f53f327b2c6af3153463169e5a9$</string>
            <key>textureFileName</key>
            <string>beeTwo.png</string>
        </dict>
    </dict>
</plist>
