<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,522},{243,261}}</string>
                <key>offset</key>
                <string>{-38,-204}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{449,530},{243,261}}</string>
                <key>sourceSize</key>
                <string>{1217,913}</string>
            </dict>
            <key>boy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,265},{255,268}}</string>
                <key>offset</key>
                <string>{-23,-208}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{458,530},{255,268}}</string>
                <key>sourceSize</key>
                <string>{1217,912}</string>
            </dict>
            <key>girl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{239,268}}</string>
                <key>offset</key>
                <string>{-383,-190}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,481},{239,268}}</string>
                <key>sourceSize</key>
                <string>{1293,850}</string>
            </dict>
            <key>girl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{261,300}}</string>
                <key>offset</key>
                <string>{-389,-171}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,446},{261,300}}</string>
                <key>sourceSize</key>
                <string>{1133,850}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>girlandboy.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f33f74dff33568017acb2d0ed94edf77$</string>
            <key>textureFileName</key>
            <string>girlandboy.png</string>
        </dict>
    </dict>
</plist>
